<div class="row">
  <div class="large-6 small-12 large-centered columns">
    <h1>Reset Password</h1>

    <%= form_tag password_resets_path, method: :post do %>
      <div class="fields">
        <p>Please enter the email address to your account to be sent a special link where you will be able to reset your password.</p>

        <div class="field">
          <%= label_tag :email %>
          <%= text_field_tag :email, params[:email], required: 'true' %>
        </div>
      </div>
      <div class="actions"><%= submit_tag 'Reset Password' %></div>
    <% end %>

    <p class="float-right"><%= link_to 'Back to login', login_path %></p>
  </div>
</div>
