<%= form_for @image, :html => {:multipart => true} do |f| %>
  <fieldset>
    <legend>Image Editor</legend>

    <div class="field">
      <%= f.label :name, 'Image title' %><br />
      <%= f.text_field :name %>
    </div>


    <div class="field">

      <% if f.object.send("#{:image.to_s}?") %>
        <p>
          <%= link_to "View current file", f.object.send(:image).url, target: '_blank' %>
        </p>
      <% end %>

      <%= f.file_field :image %>
    </div>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
