<%= render 'optimadmin/shared/header/main_title', title: 'Stored Documents' %>

<div class="main-content">

  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Document', object: Optimadmin::Document, path: new_document_path %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <%= render 'optimadmin/shared/module/index/order', options: [['A-Z', 'name ASC'], ['Z-A', 'name DESC'], ['Newest first', 'created_at DESC'], ['Oldest first', 'created_at ASC']] %>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item 'large-7 small-4' do 'Name' end %>

    <%= list_item 'large-2 hide-for-small' do 'Size' end %>

    <%= list_item { 'View' } %>
    <%= list_item { 'Edit' } %>

    <%= list_item 'large-1 hide-for-medium-down text-center last' do 'Delete' end %>
  </div>


  <%= render_object @documents %>

  <%= paginate @documents %>
</div>
