<%= render 'optimadmin/shared/header/main_title', title: 'Manage Administrators' %>

<div class="main-content">

  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Administrator', object: Optimadmin::Administrator, path: new_administrator_path %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <%= render 'optimadmin/shared/module/index/order', options: [['Username', 'username']] %>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item 'large-1 small-2' do %>
      <%= link_to octicon('chevron-down'), '#', class: 'helper-link index-list-expand-all', data: { this_class: 'octicon-chevron-up octicon-chevron-down' } %>
    <% end %>

    <%= list_item 'large-3 small-5' do 'Username' end %>

    <%= list_item 'large-6 small-5' do 'Email' end %>

    <%= list_item { 'Edit' } %>

    <%= list_item 'large-1 hide-for-medium-down text-center last' do 'Delete' end %>
  </div>


  <%= render_object @administrators %>

  <%= paginate @administrators %>
</div>
